/*Start of Some variable*/
:root {
    --ff--primary: 'poppins,sans-serif;'
    --ff--accent: 'Dosis,sans-serif;'
}
/*End of Some variable*/

/*Start of Implement fixed background image for every page*/
html{
    background: url(png/wallpaper.jpeg) center fixed;  /*why u bully me*/
    background-size:cover;
    width: 100%;
    height: 100%;
}
/*End of Implement fixed background image for every page*/

/*Removing the annoying default margin and padding*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--ff--primary);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(209, 87, 107);
    opacity: 95%;
    position: fixed;
    width:100%;
    z-index: 1;
}

.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    border-radius: 50px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{

    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;  
}

.nav-links a:hover,
.nav-links a:focus{
    background-color:rgb(212, 49, 49);
    border-radius:20px;
}

.nav-links a:active{
    color:rgb(243, 155, 155);
}

.burger{
    display:none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin:5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(209, 87, 107);
        opacity:0.9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

    .nav-links li{            
        opacity: 0;
    }


    .burger{
        display: block;
    }

    .nav-links a{
        font-size: 15px;
    }

}

@media screen and (max-width:610px) {
    .nav-links a{
        font-size: 12px;
    }

    .nav-links {
        width:25%;
    }

    .logo {
        font-size: 15px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,6px);
    
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
/*End of Navigation*/

/*Start of Hero Section*/
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    background-position: top center;
    position: relative;
    z-index: -1;
}

.hero::after{
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(77, 45, 72);
    opacity: 0.7;
}

#hero .hero{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content:center;
}

.hero h1{
    display: block;
    width: fit-content;
    font-family: var(--ff--primary);
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

/*Start of Aniamtion of Chinese Name in About page*/
.chinese-name h1{
    left:35px;
    animation-delay:1.3s;
}

.chinese-name span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(241, 82, 117);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

@media screen and (max-width:520px) {
    .hero h1{
        font-size: 2rem;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}

/*End of Aniamtion of Chinese Name in About page*/

/*End of Hero Section*/

/*Start of About*/
/*About me section and About Website*/
.About{
    margin:3rem;

}

.AboutWebsite,
.AboutMe{
    background:rgb(235, 146, 161);
    position:relative;
    text-align: center;
    border-radius: 20px;
    opacity: 90%;
    
}

.ProjectArea h1,
.AboutWebsite h1,
.AboutMe h1{
    font-family: var(--ff--primary);
    color:rgb(240, 217, 235);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.AboutMe h2{
    color:rgb(240, 217, 235);
    font-size:1.3rem;
    font-weight:600;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.AboutMe .image img{
    border-radius:50px;
    width:200px;
    height:200px;
    margin-bottom:0.5rem;
}

.AboutWebsite p,
.AboutMe p{
    color:rgb(218, 241, 255);
    font-size : 8px;
    font-size:2rem;
    font-weight:500;
    letter-spacing: 3px;
    margin-bottom: 5rem;
}

/*My Portfolio*/
.Portfolio-Title h1{
    background-color:rgb(245, 156, 205);
    position:relative;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: center;
    margin-top:1rem;
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 0.5rem;
    opacity: 80%
}

/*Start of Displaying Cert*/
.cert{
    padding-top:2rem;
    text-align: center;

}
.cert ul li{
    list-style: none;
}

.cert ul{
    display: flex;
    flex-wrap: wrap;
}

.cert ul li{
    height: 40vh;
    flex-grow: 1;
}

.cert ul li img{
    width:250px;
    height:300px;
}

@media (max-height: 480px){

    .cert ul li{
        height: 75vh;
    }

    .cert ul li img{
        width: 100%;
        max-height: vh;
        margin: 2%;
    }
}

@media screen and (max-width: 480px){
    .Portfolio-Title h1{
        font-size: 1.8rem;
    }
}
/*End of Displaying Cert*/

/*Start of Project Card*/
.section-class{
    display:flex;
    flex-wrap: wrap;
    max-height: 75vh;
    line-height: 1.8;
    font-family: sans-serif; 
    justify-content: space-around;  
    margin:10px;
}

/*Change background image of my portfolio card*/
.img1{
    background-image: url(png/IDP.png);
}
.img2,
.img3{
    background-image: url(png/wallpaper.jpg);
}
/*End of changing card background img*/

/*Start of card detail*/
.card{
    color: white;
    background-size: cover;
    padding: 10rem 0 0;
    max-width:35ch;
    overflow: hidden;
    /*Animation*/
    transition: transform 500ms ease;
    padding-bottom: 2px;
}

.card-content {
    --padding: 1.5rem; /*自定义*/
    padding: var(--padding);
    background: linear-gradient(
    hsl(0 0% 0%/0),
    hsl(0 0% 0%/0.3)20%,
    hsl(0 0% 0%/1)
    );
}

.card-title {
    position: relative;
    width: max-content;
    bottom:5px;
}

.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom:-2px;
    width: calc(100% + var(--padding));
    background:rgb(240, 70, 98);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-tile::after{
    transform: scaleX(1);
}

.card-body{
    color: rbg(255 255 255 / 0.05);
}

.button{
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: black;
    background-color:rgb(248, 197, 206);
    padding: 0.3em 1.25em;
    border-radius: 0.25em;
}

.button:hover,
.button:focus{
    background-color: rgb(253, 18, 77);
}
/*End of Card Detail*/
/*Mobile*/
/*Check is there device like mice */
@media (hover) {    
    .card-content{
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content{
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content >*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-content>*:not(.card-title),
    .card:focus-within .card-content>*:not(.card-title){
        opacity: 1;
        transition-delay: 750ms;
    }

    .card-title:after{
        transform: scaleX(0);
    }
}

/*End of Project Card*/

/*Start of contact section*/
.contact{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contact-form{
    max-width:700px;
    width: 100%;
    background: rgb(231, 108, 156);
    opacity: 93%;
    padding: 25px 30px;
    border-radius: 5px;
}

.contact-form .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.contact-form form .user-details{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    width: calc(100% / 2 -20px);
}

.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input,
.user-details .input-box textarea
{
    display: block;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 15px;
    font-size: 16px;
}
.user-details .input-box textarea{
    resize: vertical;
}

form .submit-button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(248, 194, 221);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(80deg,rgb(233, 60, 126), rgb(226, 75, 146),rgb(233, 60, 126));
}

/*End of Contact Section*/
